/* responsive*/

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .py-4 {
    padding-top: 0rem !important;
  }
  .input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .py-4 {
    padding-top: 0rem !important;
  }
  .input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .py-4 {
    padding-top: 0rem !important;
  }
  .input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

@media (min-width: 1024px) {
  .d-movil {
    display: none!important;
  }

  .quantity-car {
    width: 25px;
    height: 25px;
    padding-top: 8px;
  }

  .btn-control-add-remove {
    width: 22px;
    height: 22px;
    padding-top: 1px;
    padding-left: 7px;
  }

  .btn-add {
    padding-top: 0px !important;
  }

  .btn-remove {
    padding-top: 0px !important;
  }

  .container.d-flex.footer-container {
    height: 150px;
  }

  .img-business {
    top: 15%;
    left: -3%;
    margin-left: 165px;
  }
  .card-search-body {
    padding-bottom: 0px;
    padding-top: 16px !important;
    height: 66px;
  }
  
}

@media (max-width: 1023px) {  

  .input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .fade.modal.show {
    padding-right: 0px !important;
  }

  .zone-region-text {
    color: #626262;
    font-weight: 600;
    font-size: 16px;
  }

  .zone-delivery-text {
    color: #626262;
    font-weight: 600;
    font-size: 16px;
  }

  .tag-day {
    height: auto !important;
  }
  
  .description-search-m {
    font-size: 14px;
    font-weight: normal !important;
  }

  .padding-movil-search {
    padding: 0px !important;
  }

  .padding-button-m {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  span {
    font-size: 13px;
  }

  .text-center-m{
    text-align: center;
  }

  .footer-container {
    display: block !important;
  }

  footer {
    height: auto !important;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .li-footer {
    padding-left: 0px !important;
  }

  .li-footer > a {
    text-decoration: none;
    color: #fff;
    padding-left: 0px !important;
  }
  
  .footer-ask {
    text-align: center;
  }

  .footer-container-social {
    text-align: center;
    padding-top: 20px;
  }

  .icon-social {
    justify-content: center;
    margin-top: 10px;
  }

  .title-search {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .list-categories {
    display: block;
  }

  .list-ul {
    display: block;
    text-align: left;
    columns: 2;
    column-width: auto;
    column-count: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .categories-div{
    margin-bottom: 25px;
  }

  .search-component {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: #fff;
    margin-top: -35px;
  }

  .content-product{
    text-align: center;
    margin-bottom: 25px;
  }

  
  .logo-top {
    margin-top: 32px !important;
    width: 92px;
    margin-left: -28px;
  }

  
  /* Menu resposive */

  .menu-resposive {
    right: 0;
    margin-left: -8px;
    z-index: 9000;
    margin-top: -11px;
  }

  .navbar-brand.position-absolute.mt-4 {
    position: relative !important;
    margin-top: -39px !important;
  }

  .navbar.navbar-expand-sm.fixed-top.navbar-light.bg-light.border-bottom {
    height: 50px;
  }

  .navbar-nav {
    background-color: white;
    padding-right: 50px;
    border: 1px solid #80808038;
    border-radius: 9px;
    text-align: center;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .dropdown-menu.show {
    text-align: center;
    border-radius: 12px;
  }

  .nav-link.p-r-30 {
    padding-right: 0px !important;
  }

  .nav-link.border-button-ami.m-r-20 {
    margin-right: 0px !important;
  }

  .nav-link.m-r-30.button-ami-red {
    margin-right: 0px !important;
  }

  .button-ami-red {
    margin-top: 10px;
  }

  .body-form-ami {
    border: none !important;
    border-radius: 0px !important;
  }

  .bg-overlay {
    height: 391px !important;
  }

  .d-desktop {
    display: none !important;
  }

  .car-movil {
    margin-top: -10px;
    margin-right: -8px;
    border: 1px solid #E7E7E7;
    border-radius: 50px;
  }
  .navbar-toggler {
    border-radius: 50px !important;
  }

  .quantity-car {
    width: 24px;
    height: 24px;
    padding-top: 7px;
  }

  .btn-control-add-remove {
    width: 22px;
    height: 22px;
    padding-top: 0px;
    padding-left: 7px;
  }

  .amount-box {
    padding-bottom: 15px;
  }
  .center-div-m {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: max-content;
  }
  .title-car {
    text-align: left;
  }

  .btn-remove {
    padding-left: 8px;
    padding-top: 0px;
  }

  .btn-add {
    padding-left: 6.5px;
  }
  
  .center-m {
    text-align: center !important;
  }

  .form-control {
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
  }

  .form-filter-m {
    text-align: center !important;
    margin: 0 auto !important;
    margin-top: -32px !important;
    padding-bottom: 25px;
  }

  .field-search-m {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-right: 5px;
  }

  .filter-search {
    color: #626262 !important;
    background-color: #fff !important;
    border: none;
    font-size: 14px;
    border-radius: 25px !important;
  }
}

html {
  height:100%;
}



body {
  font-family: 'Montserrat';
  height:100%; margin:0;
  color: #4C4C4C;
  background-color: #f7f7f7;
  line-height: 1.3;
}

a:visited {
  color: none;
  border-color: none;
}

.hidden {
  overflow: hidden;
}

.preload {
  height: 100vh;
  background-color: #ff1e2f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preload img {
  width: 170px;
}

.preload-blue img {
  width: 170px;
}

.display-none {
  display: none !important;
}

.red-amipass {
  color: #FF1E2F;
}
.gray-amipass {
  color:#626262 !important;
}

.bg-white {
  background-color: white !important;
}
.bg-red {
  background-color: #FF1E2F !important;
}

.bg-red {
   background-color: #FF1E2F !important;
}

.bg-blue {
  background-color: #299be8 !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.title {
  padding-top: 10px;
}

.description {
  /* width: 100%; */
  margin-bottom: 5px;
}

div .title span {    
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #4C4C4C;
}

div .description span {    
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #a1a1a1;
}

div .item img {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-business-bottom {
  width: 52px;
  height: auto;
  position: relative;
  

}

/** control de iconos comercio **/
.owl-dots {
  display: none;
}

.pay-app {
  margin-top: 10px;
  height: auto;
}

.img-mobile-app {
  width:165px;
  height:auto;
  right:0;
  display: flex;
  position: absolute;
  padding-top: 44px;
}

.img-mobile-app-blue {
  width:165px;
  height:auto;
  right:0;
  display: flex;
  position: absolute;
}


.img-usuario-1 {
  width:310px;
  height:auto;
  margin: 0 auto;
  display: flex;
}

.img-desktop-app {
  width:490px;
  height:auto;
  display: block;
  margin:0 auto;
}

.img-desktop-app-pos {
  width:auto;
  height:auto;
  display: block;
  margin:0 auto;
  padding-top: 5px;
}

.img-desktop-app-blue1 {
  width: 490px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.img-desktop-app-blue-2 {
  width: 348px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.title-li {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.p-li {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

p.p-li {
  padding-top: 9px;
  margin-left: 5px;
  margin-right: 20px;
  line-height: 17px;
}

.block-d{
  margin-left:10px;
}

.info-contact {
  background-color: #FF1E2F !important;
  color:white !important;
  font-family: 'Montserrat', sans-serif;
}

.info-contact-blue {
  background-color: #299be8 !important;
  color:white !important;
  font-family: 'Montserrat', sans-serif;
}

.title-contact {
  
  font-size: 14px;
  font-weight: 600;
  line-height: 1.1;
}

.description-contact {
  font-size: 12px;
  font-weight: 500;
  padding-top: 5px;
  line-height: 1.1;
}

.description-contact-2 {
  font-size: 10px;
  font-weight: 400;
  padding-top: 5px;
  line-height: 1.1;
}

.icon-social {
  width: auto;
  height: 45px;
}

footer {
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

footer span {
  padding-bottom: 12px;
}


/** Animation button ingresa begin**/

.call-animation {
  background: #FF1E2F;
  width: 90px;
  height: 23px;
  border-radius: 50px;
  animation: play 2s ease infinite;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-top: 1px;
  padding-left: 9px;

}

@keyframes play {

  0% {
      transform: scale(1);
  }
  15% {
      box-shadow: 0 0 0 1px rgba(255, 30, 47, 0.2);
  }
  25% {
      box-shadow: 0 0 0 2px rgba(255, 30, 47, 0.2), 0 0 0 5px rgba(255, 30, 47, 0.1);
  }
  25% {
      box-shadow: 0 0 0 7px rgba(255, 30, 47, 0.2), 0 0 0 12px rgba(255, 30, 47, 0.1);
  }

}

.call-animation-blue {
  background: #299be8;
  width: 90px;
  height: 23px;
  border-radius: 50px;
  animation: playblue 2s ease infinite;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-top: 1px;
  padding-left: 9px;

}


@keyframes playblue {

  0% {
      transform: scale(1);
  }
  15% {
      box-shadow: 0 0 0 1px rgba(41, 155, 232, 0.2);
  }
  25% {
      box-shadow: 0 0 0 2px rgba(41, 155, 232, 0.2), 0 0 0 5px rgba(41, 155, 232, 0.1);
  }
  25% {
      box-shadow: 0 0 0 7px rgba(41, 155, 232, 0.2), 0 0 0 12px rgba(41, 155, 232, 0.1);
  }

}

.call-animation-blue:hover {
  background: #2789cc;

}

.call-animation-download {
  background: #26C800;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 11px;
  padding-bottom: 5px;
  padding-top: 2px;
  border-radius: 50px;
 /* animation: playdownload 2s ease infinite;*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-top: 6px;
  padding-left: 11px;
  width: 143px;

}

@keyframes playdownload{

  0% {
      transform: scale(1);
  }
  15% {
      box-shadow: 0 0 0 1px rgba(34, 177, 0, 0.2);
  }
  25% {
      box-shadow: 0 0 0 2px rgba(34, 177, 0, 0.2), 0 0 0 5px rgba(34, 177, 0, 0.1);
  }
  25% {
      box-shadow: 0 0 0 7px rgba(34, 177, 0, 0.2), 0 0 0 12px rgba(34, 177, 0, 0.1);
  }

}

.call-animation-download a{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-decoration: none;

}

.call-animation-download:hover {
  background-color: #26C800;
}

/** Animation button ingresa end**/



/** Modal login begin **/

.modal-content-login {
  width: 299px;
  height: 395px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
}

.modal-title {
  line-height: 1.42857143;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: #777;
}

.modal-header .close {
  position: relative;
  z-index: 99;
}


.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.remember-checkbox label {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  cursor: pointer;
}

.description-login {
  line-height: normal;
}

.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  border-radius: 25px;
  border: 1px solid #4C4C4C;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff8080;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

input#two {
  font-size: 2px;
}


/** Modal login end **/

.logo-footer img {
  width: 136px;
  padding-bottom: 10px;
}

.p-footer {
  font-size: 12px;
}


.p-title  {
  line-height: 1;
  font-size: 14px;
}

.button-pass-red {
  background-color: #ff1e2f;
  border: none;
  color: white;
  border-radius:50px;
  text-decoration: none;
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.button-pass-red:hover {
  background-color: white;
  border: 1px solid #FF1E2F;
  color: #ff1e2f;
  border-radius:50px;
  text-decoration: none;
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.button-pass-white {
  background-color: white;
  border: none;
  color: #ff1e2f;
  border-radius:50px;
  text-decoration: none;
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.button-pass-white:hover {
  background-color: #FF1E2F;
  border: 1px solid white;
  color: white;
  border-radius:50px;
  text-decoration: none;
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
}


.button-passblue-white {
  background-color: white;
  border: none;
  color: #299be8;
  border-radius:50px;
  text-decoration: none;
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.button-passblue-white:hover {
  background-color: #299be8;
  border: 1px solid white;
  color: white;
  border-radius:50px;
  text-decoration: none;
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.banner-amipass {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
}

.iframe-logo-comercios {
  height: 90px;
  width: 100%;
  overflow: hidden;
}

.btn-primary-blue {
  color: white;
  background-color: #299be8; 
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary-blue:hover {
  background-color: #2789cc;
  color: white;
}

.download-btn a {
  background-color: #26C800;
  text-decoration: none;
  color: white;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-top:2px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.download-btn a:hover {
  background-color: #23b900;
  text-decoration: none;
  color: white;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}

.download-btn {
  list-style: none;
}

.download-ul {
  padding:0;
}

.remember-checkbox a{
  color:#FF1E2F
}
.remember-checkbox label{
  position:relative;
  padding-left:30px;
  font-size:12px;
  cursor:pointer
}
.remember-checkbox label:before,label:after{
  font-family:FontAwesome;
  font-size:17px;
  position:absolute;
  top:-3px;
  left:0;
  padding-left:2px;
  border-radius:6px
}
.remember-checkbox label:before{
  border:2px solid #FF1E2F;
  content:"";
  height:20px;
  margin-top:-3px;
  width:20px
}
.remember-checkbox label:after{
  content:'\f00c';
  max-width:0;
  overflow:hidden;
  opacity:.5;
  transition:all .35s;
  -webkit-transition:all .35s;
  -ms-transition:all .35s;
  -ms-transition:all .35s;
  -o-transition:all .35s
}
.remember-checkbox input[type="checkbox"]{
  display:none
}
.remember-checkbox input[type="checkbox"]:checked+label:after{
  max-width:25px;
  opacity:1
}

.p-modal {
  color:#777777 !important;
  font-size:12px !important;
}

.logo-footer-pyme {
  margin: 0 auto;
  text-align: center;
}

.logo-footer-pyme img {
  width: 85px;
}

#popupIframe, #chatIframe {
  margin-bottom: 60px !important;
  right: 10px !important;
}

.title-gracias {
  font-size: 16px;
  line-height: 19px;
}

.help-icon img {
  width: 78px;
}

.title-icon {
  font-size: 14px;
  font-weight: 600;
}

.title-pregunta {
  font-size: 20px;
}

.ul-contact {
  list-style: none;
  font-weight: 600;
  margin-left: -45px;
}
.description-icon {
  font-size: 14px;
}

.logo-blue-d {
  margin-top: 0px;
}

.slider-transparent {
  position:relative;
}

.slider-text {
  position: absolute;
  padding-top: 84px;
  padding-left: 100px;
  color: white;
}

.slider-title {
  font-weight: 700;
  font-size: 45px;
}

.slider-description {
  font-size: 20px;
  width: 278px;
  line-height: 22px;
}

.slider-button {
  color:#ff1e2f;
  background-color: white;
  border-radius:50px;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 3px;
}

.slider-button:hover {
  color: white;
  background-color:transparent;
  border:2px solid #fff;
  text-decoration: none;
}

.slider-button-blue {
  color:#299be8;
  background-color: white;
  border-radius:50px;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 3px;
}

.slider-button-blue:hover {
  color: white;
  background-color:transparent;
  border:2px solid #fff;
  text-decoration: none;
}

.slider-mt {
  margin-top: 46px;
}

.icon-download-app {
  width: 250px;
  height: auto;
}

.amipass-download {
  width: 320px;
}

.help-whatsapp {
  
  background-color: transparent;
  color: #00b744;
  border: 1px solid #00b744;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
}

.help-whatsapp:hover {
  background-color: #00b744;
  color: white;
  text-decoration: none;
}

button.btn.btn-primary {
  border-radius: 50px;
  background-color: #ff1e2f;
  border: 0px;
}

button.btn.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #ff1e2fc9;
  border-color: transparent;
}

button.btn.btn-primary:not(:disabled):not(.disabled):hover {
  color: #fff;
  background-color: #c21717;
  border-color: transparent;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgb(255 38 38 / 50%);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(255 38 38 / 50%);
}

a.btn.btn-primary {
  border-radius: 50px;
  background-color: #ff1e2f;
  border: 0px;
}

.icon-whatsapp {
  position: fixed;
  bottom: 0;
  z-index: 5;
}

.icon-whatsapp img {
  width: 170px;
  margin-bottom: 15px;
}

.blog-amipass {
  position: fixed;
  bottom: 0px;
  z-index: 5;
  right: 10%;

}

.blog-amipass img {
  width: 170px;
  margin-bottom: 15px;
}

.btn-secondary {
  border-radius: 25px;
  border-color: none;
}

button.btn.btn-link.collapsed.text-responsive-align {
  width: -webkit-fill-available;
}

.active-menu {
  border: none !important;
  color: white !important;
  background-color: #ff1e2f !important;
  border-radius: 50px !important;
}

.active-menu-blue {
  border: none !important;
  color: white !important;
  background-color: #299be8 !important;
  border-radius: 50px !important;
}

.modal-popup-amipass {
  width: fit-content !important;
  background-color: transparent !important;
  border: none !important;
  margin: 0 auto !important;
}

.display-grid {
  display: grid !important;
}

.button-whatsapp-m {
  background: #26C800;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 11px;
  padding-bottom: 5px;
  padding-top: 2px;
  border-radius: 50px;
  padding-top: 6px;
  padding-left: 11px;
  margin-left: 50px;
  margin-right: 50px;
}

.button-whatsapp-m:hover {
  background: #0062cc;
}

.button-whatsapp-m a {
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.language {
  color: gray;
  margin-right: 15px;
  margin-top: 2px;
}

.language a {
  color: gray;
  margin-right: 3px;
  font-size: 14px;
}

.description-pos {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #565656;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 1;
  margin-top: 175px;
}

.description-pos h4 {
  color:#9c9c9c;
  padding-left:20px;
}

.description-pos h3 {
  color: white;
  background-color: #299be8;
  width: max-content;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.border-alert {
  border: 4px solid #e71d2b;
  border-radius: 25px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.hide-scrollbar
{
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

.badge-primary {
  color: #fff;
  background-color: #ff1e2f;
}
/* .badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
  border-color: rgba(0,0,0,.5);
  border-width: 1;
} */

.pac-container {
  z-index: 99999999;
}
/* Lista comercios */
.tag-delivery {
    color: white !important;
    background-color: #F60;
    font-weight: 600;
    border: none !important;
}

.tag-retiro-local {
  color: white !important;
  background-color: #00D2B6;
  font-weight: 600;
  border: none !important;
}

.title-list-a {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #626262 !important;
  text-decoration: none !important;
}

/* Menu top */
.navbar.navbar-expand-sm.fixed-top.navbar-light.bg-light.border-bottom {
  border: none !important;
  background-color: white !important;
}

.logo-top {
  margin-top: 8px;
}

.nav-link {
  font-size: 14px;
}

/* buscador principal */ 

/* button.btn.btn-primary {
  padding-left: 35px;
  padding-right: 35px;
}*/

.form-control {
  background: transparent;
}
.form-control {
  color: #626262 !important;
  border: 1px solid #E6E6E6 !important;
  font-weight: 500;
}

::placeholder {
  color: #A1A1A1 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #A1A1A1 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #A1A1A1 !important;
}

/* footer */
.li-footer {
  padding-left: 72px;
  font-weight: bold;
}

.li-footer > a {
  text-decoration: none;
  color: #fff !important;
  padding-left: 0px !important;
}

.siguenos {
  margin-top: -16px;
}

/* predefinidos */

.btn-link:hover {
  color: #ff1e2f;
  text-decoration: underline;
}

h3 {
  color: #777;
  font-weight: bold;
}

h4 {
  color: #777;
  font-size: 22px;
}

h6 {
  color: #626262;
}

.font-light {
  font-weight: 100 !important;
}

.font-regular {
  font-weight: normal !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 600;
}


.w-100-m {
  width:auto !important;
}

.font-bold {
  font-weight: bold !important;
}

.m-l-1 {
  margin-left: 1px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-l-r-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.m-l-4 {
  margin-left: 4px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.border-button-ami {
    border: 1px solid #C2C2C2;
    border-radius: 50px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.button-ami-red {
  border-radius: 50px !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  background-color: #FF1E2F !important;
  color: white !important;
}

p {
  color: #777777 !important;
}

.form-check-label {
  font-size: 12px;
  color: #777;
}

a {
  color: #777 !important;
  font-size: 14px;
}

.form-control:focus {
  background-color: #ffffff6b;
}

.padding-button {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

/* Home */

.search-component.card {
  border-radius: 100px;
}

.card-body {
  padding-top: 10px;
  padding-bottom: 0px;
}

.btn-link {
  font-weight: 400;
  color: #4c4c4c;
  text-decoration: none;
  font-size: 12px !important;
}

.card-body {
  padding-bottom: 25px;
  padding-top: 25px;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 334px;
  content: ' ';
  z-index: 0;
  background: rgba(0,0,0,.59);
  opacity: .5;
}

.p-relative {
  position: relative !important;
}

.text-categories {
  text-align: left;
}

.text-filter {
  padding: 0px;
}

.quantity-amount {
  font-size: 14px;
  font-weight: 500;
  color: #4C4C4C;
}
.box-market {
  background-color: white !important;
  border-radius: 10px !important;
  border: 1px solid #eee !important;
  padding: 25px !important;
  margin-bottom: 10px !important;
}

.box-market-list {
    background-color: white !important;
    border-radius: 10px !important;
    border: 1px solid #eee !important;
    padding-top: 16px !important;
    padding-right: 25px !important;
    padding-bottom: 15px !important;
    padding-left: 25px !important;
    margin-bottom: 10px !important;
}

.box-market-list:hover {
  box-shadow: 2px 2px 5px #bfbfbf;
}

.box-market-side {
  background-color: white !important;
  border-radius: 10px !important;
  border: 1px solid #eee !important;
  padding: 25px !important;
  margin-bottom: 10px !important;
}

.card {
  border: 1px solid #eee;
}

.btn-cart-div {
  justify-content: center;
  text-align: center;
  margin: 0;
  display: flex;
}

.btn-add-cart {
  width: 100px;
}

.button-login {
  color: white !important;
  font-weight: 500;
}

.button-remove {
  width: 20px;
  height: 20px;
  font-size: 8px;
  margin-right: 15px;
}

.title-car {
  font-size: 12px;
}

.amount-car {
  font-size: 12px;
  font-weight: 600;
  color: #4C4C4C;
}

.car-sub {
  font-size: 18px;
  color: #4C4C4C;
}

.dropdown-menu {
  border: 1px solid #80808038 !important;
}

.img-list-product {
  height: 100px;
  width: auto;
}

.tag-day-l {
  width: 23px;
  height: 23px;
  background-color: #66C63C;
  color: #4C4C4C;
  padding-left: 4px;
  padding-top: 5px;
}

.tag-day-m {
  width: 23px;
  height: 23px;
  padding-left: 2px;
  padding-top: 5px;
  color: #4C4C4C;
  background-color: #66C63C;
}

.tag-day-mi {
  width: 23px;
  height: 23px;
  padding-left: 4px;
  padding-top: 5px;
  color: #4C4C4C;
  background-color: #66C63C;
}

.tag-day-j {
  width: 23px;
  height: 23px;
  padding-left: 5px;
  padding-top: 5px;
  color: #4C4C4C;
  background-color: #66C63C;
}

.tag-day-v {
  width: 23px;
  height: 23px;
  padding-left: 4px;
  padding-top: 5px;
  color: #4C4C4C;
  background-color: #66C63C;
}

.tag-day-s {
  width: 20px;
  height: 20px;
  padding-left: 6.5px;
  color: #4C4C4C;
  background-color: #66C63C;
}

.tag-day-d {
  width: 20px;
  height: 20px;
  padding-left: 5.5px;
  color: #4C4C4C;
  background-color: #66C63C;
}

.tag-day {
  height: 22px;
  width: 22px;
  text-align: center;
  display: table-cell;
  margin: 0px 3px;
  border-radius: 50%;
  padding-bottom: 1px;
}

.tag-day-available {
  color: #FFF;
  background-color: #00a650;
}

.tag-day-disable {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 0.4;
}

.btn-zone-delivery {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 8px;
  
}

.border {
  border: 1px solid #dee2e6 !important;
      border-top-color: rgb(222, 226, 230);
      border-right-color: rgb(222, 226, 230);
      border-bottom-color: rgb(222, 226, 230);
      border-left-color: rgb(222, 226, 230);
}

.t-pay-amipass {
  color: #626262 !important;
  font-weight: 400;
  font-size: 12px;

}

.jumbotron {
  border-radius: 0 !important;
}

.timestart {
  margin-left: 8px;
}

.bt-unavailable {
  color: gray;
  border: 1px solid gray;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-weight: 400 !important;
  opacity: 0.4;
  font-size: .875rem;
}

.unavailable-product .img-list-product {
  opacity: 0.4;
  filter: grayscale(1);
}

.unavailable-product h6 {
  color: #626262;
  opacity: 0.4;
}

.unavailable-product .text-muted {
  opacity: 0.4;
  filter: grayscale(1);
}

.unavailable-product .amount-box {
  opacity: 0.4;
}

 h6 {
  margin-bottom: 0px !important;
}
.filter-search {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  color:white;
  background-color: #ff1e2f;
  border: none;
  font-size: 14px;
}

.filter-search-gray {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  color:#606060;
  background-color: #E6E6E6;
  border: none;
  font-size: 14px;
}

.filter-search:focus {
  border-color: #ff8080;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.25);
}

.filter-search-gray:focus {
  border-color: #999;
      border-top-color: rgb(153, 153, 153);
      border-right-color: rgb(153, 153, 153);
      border-bottom-color: rgb(153, 153, 153);
      border-left-color: rgb(153, 153, 153);
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(179, 179, 179, 0.25);
}

.filter-search:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #fff;
}

.filter-search option {
  background-color: white;
  color: gray;
}

.zone-commune-text {
  background-color: #ff1e2f;
  color: white;
  border-radius: 25px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.zone-region-text {
  color: #626262;
  font-weight: 600;
}

.zone-delivery-text {
  color: #626262;
  font-weight: 600;
}

.zone-delivery-amount {
  color: #6c757d;
  font-weight: 500;
}

.zone-title-text {
  font-size: 16px;
  font-weight: 600;
  color: #6c757d;
}

.zone-description-text {
  font-size: 14px;
  color: #626262;
}

.btn-other-address {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 1px;
  margin-left: 8px;
}

.weight-600 {
  font-weight: 600 !important;
}

.badge-primary-filter {
  color:#A1A1A1;
  background-color: #EEEEEE;
  font-weight: normal;
}

/* Style Switch begin */



/* Style switch end*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  margin-top: 3px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch-slider {
  background-color: #2196F3;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch-slider.round {
  border-radius: 34px;
  width: 44px;
  height: 16px;
}

.switch-slider.round:before {
  border-radius: 50%;
}

input:checked + .switch-color-delivery {
  background-color: #f60;
}

input:checked + .switch-color-withdrawal {
  background-color: #00d2b6;
}

.switch-text {
  font-size: 14px;
  width: 130px;
  display: inline flow-root list-item;
  font-weight: 500;
  color: #626262;
}

.switch-li {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #eee !important;
  width: 215px;
  margin-bottom: 5px;
}


.switch-div {
  height: 34px;
  padding-top: 8px;
  padding-left: 15px;  
}


.btn-amipass-gray {
  color: #A1A1A1 !important;
  background-color: transparent !important;
  border: none !important;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  line-height: 1.5;
  border-radius: 25px;
}

.btn-amipass-gray:active {
  color: white !important;
  background-color: #ff1e2f !important;
  border: none !important;
  border-radius: 25px;
}

.btn-amipass-gray:hover {
  color: white !important;
  background-color: #ff1e2f !important;
  border: none !important;
  border-radius: 25px;
}

.btn-amipass-gray:focus {
  box-shadow: 0 0 0 0.2rem rgb(255 38 38 / 50%);
}

.icon-filter {
  font-size: 10px;
  margin-left: 5px;
}

.btn.btn-primary {
  padding-left: 19px;
  padding-right: 19px;
}

.btn.btn-secondary {
  padding-left: 19px;
  padding-right: 19px;
  color: #A1A1A1;
  background-color: transparent;
  border:1px solid #A1A1A1;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #A1A1A1;
  border-color: #A1A1A1;
  }

  .btn {
    font-size: 14px;
  }

  .h4, h4 {
    font-size: 1.3rem;
  }

  .text-bold {
    font-weight: bold !important;
  }
.color-white {
  color: white !important;
}

.text-field-address{
  background-color: white !important;
}